{% extends "base.html" %}

{% block content %}
 	<div class="row">
	    <div class="col-lg-12">
			<div style="padding-top: 33px; padding-bottom: 20px; background-color: #EFEFEF;">
                <form method="post" action="/scouter/edit/{{ username|default:"" }}?next={{ next_path }}" class="form-horizontal" role="form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label class="col-lg-5 control-label">{{ field.label}}</label>
                            <div class="col-lg-3">
                                {{ field }}
                            </div>
                            <div class="col-lg-4">{{ field.errors }}</div>
                        </div>
                    {% endfor %}
					<div class="form-group">
						<div class="col-lg-5"></div>
						<div class="col-lg-3">
                            <input type="submit" class="btn btn-primary" value="Submit">
							<input type="hidden" name="next" value="{{ next }}" />
						</div>
						<div class="col-lg-4"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}



