    .page-home {
        height: 250px;
        background-color: #fff;
        text-align: center;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 0px;
        padding-left: 30px;
        }

    .page-login {
        height: 400px;
        background-color: #E9F1EA;
        text-align: center;
        padding-top: 30px;
        padding-right: 60px;
        padding-bottom: 60px;
        padding-left: 60px;
        margin-bottom: -60px;
        /* From http://jsfiddle.net/B9Uyj/1/ */
        box-shadow: 0 0 15px 2px #ccc;
        }

    .page-features {
        height: 720px;
        background-color: #EAF1FB;
        text-align: left;
        padding-top: 5px;
        padding-right: 60px;
        padding-bottom: 60px;
        padding-left: 60px;
        margin-top: 60px;
        margin-bottom: -60px;
        /* From http://jsfiddle.net/B9Uyj/1/ */
        box-shadow: 0 0 15px 2px #ccc;
        }

    .page-about {
        height: 650px;
        background-color: #FCFCE9;
        text-align: left;
        padding-top: 5px;
        padding-right: 60px;
        padding-bottom: 60px;
        padding-left: 60px;
        margin-top: 60px;
        box-shadow: 0 0 15px 2px #ccc;
        }

    .main-title {
        font-family: 'Raleway', cursive;
        font-size: 110px;
        margin-top: 0px;
        }
      
    .sub-title {
        font-family: 'Raleway', cursive;
        font-size: 50px;
        }