{% extends "base.html" %}

{% block style %}
    <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block navbaritems %}
    <li>
        <a href="#features" class="smoothScroll">Features</a>
    </li>
    <li>
        <a href="#about" class="smoothScroll">About</a>
    </li>
{% endblock %}

{% block content %}
    <div id="home" class="page-home" name="home">
        <h1 class="main-title">Scout Charter</h1>
        <p>Helping boy scouts advance through life</p>
    </div>

    <a name="login"></a>
    <div id="login" class="page-login">
        <div class="row-fluid">
            <div class="col-lg-4">
              <h1 class="sub-title">Welcome . . .</h1>
              <p>Scout Charter is a website dedicated to helping boy scouts succeed in their scouting advancement.  Its focus is to provide scouts, parents, and leaders with the simple tools they need to accomplish this endeavor.</p>
            </div>
            <div class="col-lg-4">
               <img src="{{ STATIC_URL }}img/design/MP910216311.PNG" style="max-width: 100%; margin-top=-120px;">
            </div>
            <div class="col-lg-4">
                <h1 class="sub-title">. . . Aboard</h1>
                <button type="button" class="btn btn-primary btn-lg btn-xlg">Log in</button>
                <button type="button" class="btn btn-default btn-lg btn-xlg">Sign up</button>
                <p>To sign up, you'll need to provide your name and patrol number.</p>
            </div>
        </div>
    </div>

    <a name="features"></a>
    <div id="features" class="page-features">
        <h1 class="sub-title">Features</h1>
        <div class="col-lg-4">
          <h2>Track advancement</h2>
          <p>With a simple view of ranks and merit badges, scouts can quickly see their progress in advancement.  Parents can too.  Leaders can manage the ranks and merit badges scouts have earned.</p>
        </div>
        <div class="col-lg-4">
          <h2>Set goals</h2>
          <p>Scouts can set merit-badge goals to keep them focused on what scouting steps to take next.</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}img/design/map_telescope.JPG" style="max-width: 100%; margin-top=-120px;">
        </div>
        <div class="col-lg-4">
          <h2>Find merit badge counselors</h2>
          <p>When scouts set merit badge goals, they can view lists of merit badge counselors to help them pass off requirements.</p>
        </div>
        <div class="col-lg-4">
          <h2>Request merit badge books</h2>
          <p>Scouts can also request merit badge books.  They will be informed if or when books are available.  Leaders are given the responsibility to contact the scout after a book has been requested to make sure they receive it.</p>
        </div>
        <div class="col-lg-4">
          <h2>Record notes</h2>
          <p>Leaders can add notes/comments on their scouts' progress.  This helps remind leaders the latest status on scouts and their advancement.</p>
        </div>
    </div>

    <a name="about"></a>
    <div id="about" class="page-about">
        <h1 class="sub-title">About</h1>
    </div>
{% endblock %}

{% block script %}
    <!-- From http://goo.gl/t0zr3 -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/smoothscroll.js"></script>
{% endblock %}