{% extends "base.html" %}

{% block style %}
    <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block navbaritems %}
    <li>
        <a href="#features" class="smoothScroll">Features</a>
    </li>
    <li>
        <a href="#about" class="smoothScroll">About</a>
    </li>
{% endblock %}

{% block content %}
    <div id="home" class="page-home" name="home">
        <h1 class="main-title">Scout Charter</h1>
        <p>Helping boy scouts advance through life</p>
    </div>

    <a name="login"></a>
    <div id="login" class="page-login">
        <div class="row-fluid">
            <div class="col-lg-4">
              <h2 class="sub-title">Welcome . . .</h2>
              <p>Scout Charter is a website dedicated to helping boy scouts succeed in their scouting advancement.  Its focus is to provide scouts, parents, and leaders with the simple tools they need to accomplish this endeavor.</p>
            </div>
            <div class="col-lg-4">
               <img src="{{ STATIC_URL }}img/design/MP910216311.PNG" style="max-width: 100%; margin-top=-120px;">
            </div>
            <div class="col-lg-4">
                <h2 class="sub-title">. . . Aboard</h2>
                <button type="button" class="btn btn-primary btn-lg btn-xlg">Log in</button>
                <button type="button" class="btn btn-default btn-lg btn-xlg">Sign up</button>
                <p>To sign up, you'll need to provide your name and patrol number.</p>
            </div>
        </div>
    </div>

    <a name="features"></a>
    <div id="features" class="page-features">
        <h2 class="sub-title">Features</h2>
        <div class="col-lg-4">
          <h3>Track advancement</h3>
          <p>With a simple view of ranks and merit badges, scouts can quickly see their progress in advancement.  Parents can too.  Leaders can manage the ranks and merit badges scouts have earned.</p>
        </div>
        <div class="col-lg-4">
          <h3>Set goals</h3>
          <p>Scouts can set merit-badge goals to keep them focused on what scouting steps to take next.</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ STATIC_URL }}img/design/map_telescope.JPG" style="max-width: 100%; margin-top=-120px;">
        </div>
        <div class="col-lg-4">
          <h3>Find merit badge counselors</h3>
          <p>When scouts set merit badge goals, they can look  Charter is a website dedicated to helping boy scouts succeed in their scouting advancement.  Its focus is to provide scouts, parents, and leaders with the simple tools they need to accomplish this endeavor.</p>
        </div>
        <div class="col-lg-4">
          <h3>Request merit badge books</h3>
          <p>Scout Charter is a website dedicated to helping boy scouts succeed in their scouting advancement.  Its focus is to provide scouts, parents, and leaders with the simple tools they need to accomplish this endeavor.</p>
        </div>
        <div class="col-lg-4">
          <h3>Record notes</h3>
          <p>Scout Charter is a website dedicated to helping boy scouts succeed in their scouting advancement.  Its focus is to provide scouts, parents, and leaders with the simple tools they need to accomplish this endeavor.</p>
        </div>
    </div>

    <a name="about"></a>
    <div id="about" class="page-about">
        <h2 class="sub-title">About</h2>
    </div>
{% endblock %}

{% block script %}
    <!-- From http://goo.gl/t0zr3 -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/smoothscroll.js"></script>
{% endblock %}